<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test Suite">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<!-- <listener class-name="listenerPages.testlistener" /> -->
	</listeners>

	<test name="Regression suite 2">
		<classes>
			<class name="script.testscript.TC_00" />
		</classes>
	</test>
</suite>